
.materials{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.materials a{
color: rgb(54, 20, 155)
}