
.header {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 1406px;
    height: 140px;
    background: #561a26;
    gap: 70px;
}

.logo {
    display: none;
    align-items: center;
    text-decoration:overline rgb(203, 229, 2);
    color: #0b0b0b;
}

.nav {
    order: 2;
    flex: 1;
    width: 511px;
    height: 34px;
    box-sizing: border-box;
}

.navList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.navList a {
    text-decoration: none;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.form {
    order: 1;
    width: 715px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 25px;
}

.form input[type="text"] {
    box-sizing: border-box;
    padding: 22px 25px 24px;
    border-radius: 6px;
    width: 447px;
    height: 73px;
    background: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #6f6f6f;
}

.form button {
    cursor: pointer;
    border-radius: 6px;
    width: 243px;
    height: 73px;
    background: #e73c17;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}






